*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
    clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  width: 1140px;
  display: grid;
  align-items: flex-end;
  grid-template-columns: 65% 35%;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: grid;
  gap: 40px;
  justify-content: flex-start;
  align-items: flex-end;
  grid-template-columns: repeat(3, 1fr);
  width: 711px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card:focus-visible::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid white;
    pointer-events: none;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.title .content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__list-container {
  height: 298px;
  overflow-y: scroll;
  position: relative;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 190px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  color: rgba(255, 255, 255, 1);
  outline: none;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 26px;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-description-container:hover .content__video-card-title {
  text-decoration: 2px underline;
  text-decoration-color: white;
}

.content__video-card-description-container:hover .content__video-card-description {
  text-decoration: 1px underline;
  text-decoration-color: white;
}


.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__label-text {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__textfield {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  min-width: 225px;
  appearance: none;
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  gap: 5px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  height: 34px;
  background-color: transparent;
  border: 1px solid white;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  margin-top: 30px;
  width: 390px;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  content: "";
  background-color: white;
  width: 15px;
  height: 15px;
}

.search-form__textfield:active {
  border: 1px solid rgba(255, 255, 255, 1);
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.content__video-card:hover {
  background-color: rgba(84, 80, 80, 1);
}